{% extends "shop/base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div id="content">
    Условия доставки
    Вы можете бесплатно забрать свой заказ при самовывозе из нашего магазина.
    Стоимость доставки по г. Барнаулу:
        1. 250р. - базовая доставка
        2. 350р. - срочная доставка
    Как сделать заказ
        1. Войти или зарегистрироваться
        2. Добавить товар в «Корзину»
        3. Перейти в корзину
        4. Проверить заказ
        5. Выбрать способ оплаты
        6. Завершить оформление заказа
    Нажмите кнопку «Оплатить». После поступления оплаты заказ будет оформлен.
    Способы оплаты
    Понравившиеся книги Вы можете оплатить перечисленными ниже способами.
    Банковская карта
    Наличный расчет
</div>
    {% endif %}
{% endblock %}

