{% extends "shop/base.html" %}
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Книжный магазин "Книжная полка"{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
{% block content %}
<div id="content" style="background-color:white; padding: 60px">
  <h1>Добро пожаловать, {{ new_user.first_name }}!</h1>
  <p>Ваша учетная запись успешно создана. Теперь вы можете <a href="{% url 'account:login' %}" style="color: #D4AB7D">войти</a>.</p>
</div>
{% endblock %}

